{% extends 'base.html' %}

{% block title %}Download Files{% endblock %}

{% block header %}
    File Download
{% endblock %}

{% block content %}
    <div class="hint">
        <strong>Hint:</strong> {{ hint }}
    </div>

    <form class="download-form" action="/download" method="get">
        <input type="text" name="file" placeholder="Enter file name">
        <input type="submit" value="Download">
    </form>

    <div class="file-tabs">
        <h3>Available Files:</h3>
        <div class="tabs">
            {% for file in files %}
                <div class="tab">
                    <a href="/download?file={{ file }}">{{ file }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
